.pictures{
  display: flex;
  margin-left: 0%;
  justify-content: space-around;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
     color: yellow; 
    text-align: center;
    height: 1.5em;
    opacity: .5;
font-size: 30px;
}
    .hr-text:before {
      content: '';
      
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    .hr-text:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
  
      padding: 0 .5em;
      line-height: 1.5em;
      
      color: #818078;
      background-color: #fcfcfa;
    }
  
  
  .analysisHead{
      display:inline;
      color: #FFD700;
      font-size: 25px;
      margin-left: 5%;
  }
  .performance{
      display: inline;
      color: #FFD700;
      font-size: 25px;
      margin-left: 4%;
  }
  .news{
      display: inline;
      color: #FFD700;
      font-size: 25px;
  }
  h4{
      display: inline;
      margin:5rem 8rem 0 7rem;
  }
  .analysis_img{
      display:inline;
  }
  .Prediction_img{
    display:inline;
  }
  .news_img{
    display:inline; 

  }
  figure.snip0023 {
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000000;
    text-align: center;
    
  }
  figure.snip0023 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.snip0023 img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    display: inline;
  }
  figure.snip0023 > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline;
  }
  figure.snip0023 > div::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    background-image: linear-gradient(45deg, #000000 0%, transparent 40%, rgba(255, 255, 255, 0.15));
  }
  figure.snip0023 i {
    display: inline-block;
    font-size: 36px;
    color: #ffffff;
    padding: 6px 16px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    opacity: 0;
    z-index: 1;
    -webkit-transition: 0.05s linear;
    transition: 0.05s linear;
    -webkit-transition-delay: 0.01s;
    transition-delay: 0.01s;
  }
  figure.snip0023 .curl {
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(225deg, #ffffff, #f3f3f3 20%, #bbbbbb 38%, #aaaaaa 44%, #888888 50%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.3));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all .4s ease;
    
  }
  figure.snip0023 .curl:before,
  figure.snip0023 .curl:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 12%;
    bottom: 6%;
    width: 70%;
    max-width: 300px;
    max-height: 100px;
    height: 55%;
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
    transform: skew(-10deg) rotate(-6deg);
  }
  figure.snip0023 .curl:after {
    left: auto;
    right: 6%;
    bottom: auto;
    top: 14%;
    transform: skew(-15deg) rotate(-84deg);
  }
  figure.snip0023 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
  }
  figure.snip0023:hover > div::before,
  figure.snip0023.hover > div::before {
    opacity: 1;
  }
  figure.snip0023:hover i,
  figure.snip0023.hover i {
    opacity: 0.7;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  figure.snip0023:hover .curl,
  figure.snip0023.hover .curl {
    width: 90px;
    height: 90px;
  }
  
  /* Demo purposes only */
  


  