@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&family=Yeon+Sung&display=swap');

.footer{
    color: #FFD700;
}

a { 
    padding: 10px 10px; 
    display: inline-block; 
} 
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  
  /* footer left*/
  
  .footer .footer-left {
    padding-right: 15px;
  }
  
  .footer .about {
    line-height: 20px;
    font-size: 18px;
    font-weight: 100;
    margin-top: 15px;
    color:#FFD700;
    margin-left: 3%;
  }
  
  .footer .about span {
    display: block;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Yeon Sung', cursive;
    margin-bottom: 40px;
    color:#FFD700;
  }
  
  .footer .icons {
    margin-top: 25px;
    margin-left: 3%;
  }
  
  .footer .icons a {
    display: inline-block;
    width: 20px;
    height: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    color: #FFD700;
  }
  .footer .icons a:hover { 
    color:#FFD700; 
    background: #182d48; 
    box-shadow: 0 0 50px #182d48; 
} 

  /* footer right*/
  
  .footer .footer-right {
    width: 35%;
  }
  
  .footer h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer h2 span {
    color: #0099ff;
  }
  
  .footer .menu {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer .menu a:hover {
    color: #0099ff;
  }
  
  .footer .name {
    color: #0099ff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  @media (max-width: 767px) {
    .footer {
      font-size: 14px;
    }
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    .footer .footer-center i {
      margin-left: 0;
    }
  }